.journal--main {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: $view-height;
  overflow: auto;
}
.journal--entry {
  overflow: hidden;
  background: white;
  color: $dark-grey;
  cursor: pointer;
  border-radius: 4px;
  min-height: 100px;
  margin: 10px;
  display: grid;
  grid-template-columns: 100px 1fr 75px;
  &:hover {
    background-color: darken(white, 10);
  }

  &-image {
    overflow: hidden;
    height: 100px;
    width: 100px;
    background-position: center;
  }
  .journal--entry-body {
    padding: 15px 5px;
  }
  .journal--entry--two {
    grid-column-start: span 2;
  }
  .journal-entry-title {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 4px;
  }
  .journal-entry-content {
    font-size: 10px;
  }
  .journal--entry-date {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    font-weight: bold;
  }
}

.journal__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.journal__entry-date-box span {
  font-size: 12px;
}
