* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: 0.25rem * $i;
  }
  .mb-#{$i} {
    margin-bottom: 0.25rem * $i;
  }
  .my-#{$i} {
    margin-top: 0.25rem * $i;
    margin-bottom: 0.25rem * $i;
  }
  .ml-#{$i} {
    margin-left: 0.25rem * $i;
  }
  .mr-#{$i} {
    margin-right: 0.25rem * $i;
  }
  .mx-#{$i} {
    margin-left: 0.25rem * $i;
    margin-right: 0.25rem * $i;
  }
  .pt-#{$i} {
    padding-top: 0.25rem * $i;
  }
  .pb-#{$i} {
    padding-bottom: 0.25rem * $i;
  }
  .py-#{$i} {
    padding-top: 0.25rem * $i;
    padding-bottom: 0.25rem * $i;
  }
  .pl-#{$i} {
    padding-left: 0.25rem * $i;
  }
  .pr-#{$i} {
    padding-right: 0.25rem * $i;
  }
  .px-#{$i} {
    padding-left: 0.25rem * $i;
    padding-right: 0.25rem * $i;
  }
}

.d-flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
.bg-primary {
  background: $bg-primary;
}

.text-primary {
  color: $text-primary;
}
.text-dark {
  color: $dark;
}
.flex-column {
  flex-direction: column;
}
.w-100 {
  width: 100%;
}
