// Colors

$bg-primary: #0b0033;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$text-primary: #e4f7f1;
$light: #fdfffc;
$bg-secondary: #301a7d;
$dark: #040308;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$scrollbarBG: #b1aeae;
$thumbBG: #555454;
$view-height: calc(100vh - 40px);
