// Colors

$bg-primary: #0b0033;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$text-primary: #d5fff3;
$light: #FDFFFC;
$bg-secondary: #301A7D;
$dark:#040308;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

